Package: geany-common
Source: geany
Version: 1.28-1parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Installed-Size: 8208
Breaks: geany (<< 0.21-1~)
Replaces: geany (<< 0.21-1~)
Section: devel
Priority: optional
Homepage: http://www.geany.org
Description: fast and lightweight IDE -- common files
 Geany is a small and lightweight integrated development environment.
 It was developed to provide a small and fast IDE, which has only a
 few dependencies from other packages. It is using only the GTK2 toolkit
 and therefore you need only the GTK2 runtime libraries to run Geany.
 .
 The basic features of Geany are:
  - syntax highlighting
  - code completion
  - auto completion of constructs like if, for and while, XML and HTML
  - call tips
  - folding
  - many supported filetypes like C, Java, PHP, HTML, Python, Perl, Pascal
  - symbol lists
  - embedded terminal emulation
 .
 This package contains arch independent files.
